html {
    font-family: Verdana;
    color: white;
    font-weight: normal;
}

body {
    background-color: #000000;
}

a {
    text-decoration: underline;
    color: #7fffd4;
    font-size: 16px;
}

.title {
    font-size: 50px;
}

.heading {
    font-weight: 300;
    font-size: 42px;
}

.text {
    font-size: 21px;
    color: #808080;
}